body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link {
    color: white;
}
img {
    width: 40%;
}
.banner {
    background: rgb(184, 201, 219);
    border-radius: 20px;
}
.carta {
    border: 2px solid rgb(184, 201, 219);
    border-radius: 20px;
}
.btn-primary:hover {
    background-color: red !important;
    border-color: red !important;
}